.table {
    .tableCell{
        .icon{
            cursor: pointer;
            padding: 5px;
            margin: 2px;
            &:nth-child(1){
                
                border-radius: 50%;
                color: rgb(6, 165, 6);
                font-size: 20px;
                &:hover{
                    color: rgb(10, 70, 10);
                }
            }
            &:nth-child(2){
                
                border-radius: 50%;
                color: rgb(255, 196, 0);
                font-size: 20px;
                &:hover{
                    color: rgb(207, 159, 2);
                }
            }
            &:nth-child(3){
                
                border-radius: 50%;
                color: red;
                font-size: 20px;
                &:hover{
                    color: rgb(172, 5, 5);
                }
            }
        }
    }



    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Approved {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.Pending {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
    }
  }